body {
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

label {
  margin: 0 10px;
}

select {
  margin: 0 10px;
}

input[type="number"] {
  margin: 0 10px;
}

button {
  margin: 20px 10px;
}

#results {
  margin: 20px 0;
  text-align: center;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}

#img {
	width: 100px;
	height: auto;
	cursor: pointer;
}

.blur {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: brightness(2%) blur(25px);
}
